@{
    List<string> types = ["", "tall", "wide", "big"];
    Random rd = new Random();
}

<div class="container news-board">
    <div class="row news-board__nav">
        @* Generate from server *@
    </div>
    <div class="news-board-main grid-wrapper mt-2">
        <div class="news-board__item @types[rd.Next(0, 4)]">
            <a href="/" class="thumbnail">
                <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
            </a>
            <div class="content">
                <a href="/"><p>Hello World</p></a>
            </div>
        </div>
        <div class="news-board__item @types[rd.Next(0, 4)]">
            <a href="/" class="thumbnail">
                <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
            </a>
            <div class="content">
                <a href="/"><p>Hello World</p></a>
            </div>
        </div>
        <div class="news-board__item @types[rd.Next(0, 4)]">
            <a href="/" class="thumbnail">
                <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
            </a>
            <div class="content">
                <a href="/"><p>Hello World</p></a>
            </div>
        </div>
        <div class="news-board__item @types[rd.Next(0, 4)]">
            <a href="/" class="thumbnail">
                <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
            </a>
            <div class="content">
                <a href="/"><p>Hello World</p></a>
            </div>
        </div>
        <div class="news-board__item @types[rd.Next(0, 4)]">
            <a href="/" class="thumbnail">
                <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
            </a>
            <div class="content">
                <a href="/"><p>Hello World</p></a>
            </div>
        </div>
        <div class="news-board__item @types[rd.Next(0, 4)]">
            <a href="/" class="thumbnail">
                <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
            </a>
            <div class="content">
                <a href="/"><p>Hello World</p></a>
            </div>
        </div>
    </div>
</div>